# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# --------------------
# Flask
# --------------------
instance/
.webassets-cache

# --------------------
# IDE / OS
# --------------------
.DS_Store
.idea/
.vscode/

# --------------------
# Logs & temp
# --------------------
*.log
*.tmp
*.swp

# --------------------
# Python packages (safety)
# --------------------
site-packages/